<html>
<body>

<ul>
<li> hostname = <%= @hostname %>
<li> envhost = <%= @envhost %>
<li> arghost = <%= @arghost %>
<li> short = <%= @short %>
<li> aa = <%= @aa %>
<li> cgi = <%= @cgistr %>
</ul>

</body>
</html>
